/* ******************************************************************** */
/*                          General Style                               */
/* ******************************************************************** */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Sans", sans-serif;
}

/* ******************************************************************** */
/*                          Header                                      */
/* ******************************************************************** */
header {
    text-align: center;
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}

/* ******************************************************************** */
/*                         Navbar                                       */
/* ******************************************************************** */
nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; /* Grey */
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.connect):not(.disconnect) {
  background-color: #111; /* Black */
}

.connect {
  background-color: #04AA6D; /* Green */
}

.disconnect {
  background-color: #ff0000; /* Red */
}


/* ******************************************************************** */
/*                           Markdown                                   */
/* ******************************************************************** */
img {
    width: 100%;
}


/* ******************************************************************** */
/*                           Edition                                    */
/* ******************************************************************** */
textarea {
    width: 100%;
    height: 60em;
}


/* ******************************************************************** */
/*                         Actions Menu                                 */
/* ******************************************************************** */
.menu li:hover {
    background-color: #0099cc;
}



/* ******************************************************************** */
/*                          Documents Page                              */
/* ******************************************************************** */


/* ******************************************************************** */
/*                            Messages                                  */
/* ******************************************************************** */
.red-msg {
  background-color: red;
}

.orange-msg {
  background-color: orange;
}


/* ******************************************************************** */
/*                         Columns                                      */
/* ******************************************************************** */
.full-width {
  width:100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 900px) {
    .col-2 {
        width: 16.66%;
    }

    .col-8 {
        width: 66.66%;
    }
}
